@charset "UTF-8";
h1,
h2,
h3 {
  color: #000;
  text-align: center
}

#bottle,
.row {
  position: relative
}

.clear,
.row {
  clear: both
}

#wrapper,
.wrapper {
  min-height: 500px
}

* {
  margin: 0;
  padding: 0
}

body {
  background: #EBEBEB
}

p {
  margin: 10px 0
}

h1,
h2 {
  margin: 1em 0;
  font-weight: 400
}

h3 {
  font-weight: bolder
}

h3 {
  margin: 1em 0
}

h1 {
  font-size: 40px;
  line-height: 1em
}

h2 {
  margin-right: 150px;
  margin-left: 150px;
  font-size: 28px;
  line-height: 140%
}

#wrapper {
  overflow: auto;
  margin: 0 auto;
  padding: 20px 10px;
  width: 960px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: Cambria;
  line-height: 25px
}

.secret_box {
  background: #FDFFB6;
  border: 1px solid #000;
  padding: 10px;
  width: 75%;
  margin: 30px auto
}

.secret_box h3 {
  color: red;
  text-decoration: underline;
  margin: 5px 0 15px;
  text-align: center
}

#footer {
  font-size: 14px
}

#bottle {
  width: 100%
}

#footer {
  margin-top: 10px;
  text-align: center
}

#bottle {
  margin: 20px auto;
  max-width: 500px;
  text-align: center
}

#bottle img {
  display: block;
  margin: 0 auto 20px;
  max-height: 400px;
  max-width: 100%
}

.wrapper {
  width: 690px;
  margin: 0 auto;
  font-family: verdana;
  font-size: 16px;
  line-height: 25px;
  color: #3d3d3d
}

h3 {
  font-size: 20px
}

@media (min-width:768px) {
  .graph .txt {
    width: auto !important;
    margin-bottom: 23px;
    text-align: right
  }
}

@media (max-width:767px) {
  .forfoto .rel,
  .forfoto img {
    max-width: 300px;
    float: none
  }
  .effects div.phot,
  .effects div.txt {
    width: 100%;
    margin: 0 auto 5%;
    min-width: auto
  }
  .forfoto img {
    margin: auto;
    width: 100% !important
  }
  .forfoto {
    text-align: center;
    padding: 2%
  }
  .forfoto p {
    text-align: left;
    margin: 20px auto 0 !important;
    padding-left: 0 !important
  }
  .forfoto .rel {
    width: 100%
  }
  .relclear {
    clear: both
  }
  .forfoto .txt {
    width: 96%;
    text-align: center;
    float: none;
    margin: auto;
    padding: 0
  }
  #headertheme h1 {
    font-size: 22pt !important
  }
  .graph img {
    position: absolute
  }
  .numbers div {
    display: inline-block;
    width: 9.09%
  }
  .graph {
    margin-top: 15px;
    border: 1px solid #aaa;
    background-repeat-y: repeat
  }
  .halfborder {
    border-width: 0 1px;
    margin: 0
  }
  .numbers {
    display: block;
    width: 111%;
    margin-left: -9%;
    overflow: hidden
  }
  .numbers span {
    text-align: right;
    background: #fff;
    width: 100%;
    display: block;
    margin-top: 10px;
    padding-top: 5px
  }
  .graph .txt {
    position: relative;
    text-align: left;
    background: #004586;
    color: #fff;
    padding: 0;
    margin: 2.5% 0
  }
  .graph .txt span {
    text-align: left;
    display: block;
    padding: 7px 10px
  }
  .graph .abs,
  .graph .tab {
    padding: 0;
    top: 0;
    left: 100%;
    margin: auto;
    height: 100%
  }
  .graph .abs {
    position: absolute
  }
  .graph .tab {
    display: table
  }
  .graph .row {
    margin: auto;
    display: table-row;
    height: 100%
  }
  .graph .cell {
    margin: auto;
    padding: 0 4px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    position: relative
  }
  .graph .cell span {
    display: inline;
    padding: 3px 0;
    background: #fff;
    color: #000;
    font-size: 22px;
    font-weight: 700
  }
  .graph {
    width: 96%;
    background-size: 100% 108%;
    background-repeat: no-repeat;
    background-position: -15px 0
  }
  .graph .abs {
    display: block
  }
  #copyright {
    font-size: 16px !important;
    line-height: 1.3em !important
  }
  button,
  input,
  label,
  select {
    font-size: 16px;
    line-height: 18px
  }
  .graph img {
    display: none
  }
}

@media (max-width:760px) {
  .list0 {
    width: 90%
  }
}



@media (max-width:385px) {
  .list0 {
    width: 80% !important
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:0);
body {
  margin: 0;
  padding: 0
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 10px;
  min-height: 500px;
  max-width: 770px;
  width: 100%;
  border-left: none;
  border-right: none;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: black;
  text-align: left;
  font-weight: normal;
  margin: 20px 0px 0px 0px;
  line-height: 40px;
}

h3 {
  text-align: left;
  color: #0083B2;
  font-size: 26px !important;
}

.typicallist {
  padding-left: 30px;
}

#headertheme {
  height: auto;
  margin: 0 auto;
  width: 100%;
  background: url('bg.jpg');
  padding-bottom: 20px;

}

#headertheme h1 {
  font-family: Tahoma, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  margin-top: 50px;
  line-height: 1.17em;
}

.lefto {
  float: left;
  margin-right: 5px;
}

.clear {
  clear: both;
}

.forfoto p {
  margin-left: 7px !important;
}

.forfoto {
  padding: 5px;
  background: #EBEBEB;
  margin-top: 30px;
  overflow: auto;
}

#footer {
  width: auto !important;
}

@media (max-width: 768px) {
  #wrapper {
    padding: 20px 0;
  }
}

.effects .phot img {
  max-width: 300px;
  width: 100%;
  margin: 0;
}

.effects div.phot {
  width: 39%;
  min-width: 300px;
}

.effects div.txt {
  width: 56%;
  margin-left: 4%;
  max-width: 520px;
}

.effects div {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 5%;
}

.effects {
  text-align: center;
}

#bottle img {
  width: auto;
  max-width: 100%;
}

.left_box {
  float: left;
  text-align: center;
  width: 50%;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.left_box img {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}

.left_box > p {
  text-align: left;
}

.left_box p {
  background: #ebebeb;
  margin-bottom: 0;
  padding: 2px 10px;
}

.list0 {
  padding-left: 10%;
  display: inline-block;
  width: 90%;
}

.list0 li {
  text-align: left;
  padding-left: 10px;
  line-height: 200%;
}

h4 {
  font-size: 1.2em;
  text-align: center;
}

.lefto {
  margin-right: 15px;
  width: 300px;
}

.forfoto {
  position: relative;
}


.forfoto b {
  text-align: right;
  display: block;
  margin-right: 10px;
}

.forfoto p {
  margin: 10px 0;
}

.forfoto p.kga {
  position: absolute;
  padding: 10px 10px;
  margin-bottom: 0px;
  top: 198px;
  left: 204px;
  /*	background: radial-gradient(#E6E7E8 , #F2F6F7 , #282828 );*/
  background-color: #D4D4D4;

  border: 1px solid black;

  color: black;
  font-size: 25px;
  font-weight: bold;

}

.forfoto .txt {
  float: right;
  width: 58%;
  padding-right: 1%;
}

.forfoto .rel {
  float: left;
  width: 40%;
  max-width: 300px;
  position: relative;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}

.forfoto p.kga {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}

.typicallist {
  padding-left: 60px;
}

.typicallist li {
  list-style-image: url(checked.png);
  margin-top: 5px;
  padding-left: 5px;
}

.graph img {
  float: right;
  margin-left: 5px;
  margin-top: -20px;
}

/*.graph{
	width: 90%;
}*/

.layers {
  margin-top: 20px;
}

.mark span {
  font-weight: bold;
}

#headertheme h1 {
  margin-top: 0px;
  padding-top: 50px;

}


@media (max-width: 768px) {
  .list0 {
    width: 85%;
  }
}

@media (min-width:768px) {
  .graph .txt {
    width: auto !important;
  }
  .abs {
    display: none;
  }
  .graph.halfborder {
    display: none;
  }
}

@media (max-width:767px) {
  #wrapper {
    width: 93%;
  }
  .effects div.txt,
  .effects div.phot {
    width: 100%;
    margin: 0 auto 5%;
    min-width: auto;
  }
  .forfoto .rel {
    float: none;
  }
  .forfoto img {
    float: none;
    margin: auto;
    max-width: 300px;
    width: 100% !important;
  }
  .forfoto {
    text-align: center;
    padding: 2%;
  }
  .forfoto p {
    text-align: left;
    margin: 20px auto 0 !important;
  }
  .forfoto .rel {
    max-width: 300px;
    width: 100%;
  }
  .relclear {
    clear: both
  }
  .forfoto .txt {
    width: 96%;
    text-align: center;
    float: none;
    margin: auto;
    padding: 0;
  }
  #headertheme h1 {
    font-size: 22pt !important;
  }
  .graph img {
    display: none;
  }
  .numbers div {
    display: inline-block;
    width: 7.09%;
  }
  .graph {
    margin-top: 15px;
    border: 1px solid #aaa;
    background-size: 100%;
    background-repeat-y: repeat;
  }
  .halfborder {
    border-width: 0 1px 0 1px;
    margin: 0;
  }
  .numbers {
    display: block;
    width: 111%;
    margin-left: 0%;
    overflow: hidden;
  }
  .numbers span {
    text-align: left;
    background: #fff;
    width: 100%;
    display: block;
    margin-top: 10px;
    padding-top: 5px;
  }
  .graph .txt {
    position: relative;
    text-align: left;
    background: #004586;
    color: #fff;
    padding: 0;
    margin: 2.5% 0;
  }
  .graph .txt span {
    text-align: left;
    display: block;
    padding: 7px 10px;
  }
  .graph .abs {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0;
    left: 100%;
    height: 100%;
  }
  .graph .tab {
    margin: auto;
    padding: 0;
    top: 0;
    left: 100%;
    height: 100%;
    display: table;
  }
  .graph .row {
    margin: auto;
    display: table-row;
    height: 100%;
  }
  .graph .cell {
    margin: auto;
    padding: 0 4px;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    position: relative;
  }
  .graph .cell span {
    display: inline;
    padding: 3px 0;
    background: #fff;
    color: #000;
    font-size: 22px;
    font-weight: bold;
  }
  .graph {
    width: 96%;
  }
  .graph .abs {
    display: block;
  }
  #copyright {
    font-size: 16px !important;
    line-height: 1.3em !important;
  }
  select,
  label,
  button,
  input {
    font-size: 16px;
    line-height: 18px;
  }
}

img {
  border: 0px none
}

/* tr.even, tr:nth-child(odd)
{
    padding: 0.1em 0.6em;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(204, 204, 204)
}
tr:nth-child(odd) .form-item, tr.even .form-item
{
    margin-bottom: 0px; margin-top: 0px;
    white-space: nowrap
} */

h2 {
  font-size: 18px
}

.clear {
  clear: both
}


* {
  margin: 0px
}

body {
  margin: 0px;
  padding: 0px;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.container {
  width: 740px;
  margin: auto;
  border-collapse: separate;
  clear: both;
  overflow: hidden;
}

a {
  color: rgb(23, 90, 152)
}

#footer {
  height: 73px;
  width: 1160px;
  margin: auto;
  clear: both
}

p,
h1,
h2,
h3,
ul {
  margin-bottom: 1em
}

h1 {
  margin: 15px 0px;
  color: rgb(0, 101, 149);
  font-weight: normal
}

#content {
  max-width: 740px;
  width: 100%;
  padding-top: 20px;
  margin: 0px auto 20px auto
}


#ssbutton {
  margin: 0 auto;
  display: block;
  position: static;
  text-decoration: underline;
  padding: 12px 10px;
  background-color: #0083B2;
  color: #FFFFFF;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 24px !important;
  border: none;
  box-shadow: inset 0px 1px 0px 0px #AEC3E5;
  font: 700 20px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif;
  text-shadow: 0px -1px 1px #64799E;
  max-width: 510px;
}

#ssbutton:hover {
  background-color: #330099;
  box-shadow: inset 0px 1px 0px 0px #A5B9D9;
  cursor: pointer;
}

h1 {
  font-size: 38px;
  color: #000;
}

h2 {
  color: #000;
  margin: 20px 0 15px;
  padding: 0;
  text-align: left;
  font-size: 26px;
}

.secret_box {
  background: #e5f3c2;
  border: 2px solid #000;
  padding: 10px;
  width: 75%;
  margin: auto;
}

.secret_box h3 {
  color: #000;
  text-decoration: underline;
  margin: 5px 0 15px;
}

@media (max-width: 768px) {
  h2 {
    line-height: 27px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 27px;
  }
}

#footer {
  margin-bottom: 32px;
}

#footer div {
  text-align: center;
  padding: 5px 0px;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

#footer #legal_message {
  width: 585px;
  margin: 0px auto;
}

#footer #copyright a {
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
}

.frst {
  margin-right: 20px;
  border: 1px solid #ccc;
}

.fz20 {
  font-size: 20px;
}

.prd {
  margin: 50px auto 30px
}

.cntr {
  text-align: center;
  font-size: 18px;
}

.fzem {
  font-size: 1.1em
}

.ttup {
  text-transform: uppercase;
}

.fs26 {
  font-size: 26px;
}

.publ {
  font-size: 18px;
  font-style: italic;
  color: #888;
}
@media (max-width:560px) {
  .frst{
        float: none;
    display: block;
    margin: 15px auto;
  }
}